<%- include('head'); %>

  <h3 style="text-align: center;">ユーザー管理</h3>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% userTable.forEach((user) => { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><form action="/edit/<%= user.id %>" method="get"><input type="submit" class="edit" value="編集"></form></td>
        <td><form action="/delete/<%= user.id %>" method="post"><input type="submit" class="delete" value="削除"></form></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div style="margin:10px;text-align: center;">
    <button type="button" onclick="location.href='/'" style="width: 300px;">一覧に戻る</button>
  </div>
</body>

  </html>